@use "sass:map";
//Font Families
$font-serif: 'Times New Roman', Times, serif;
$font-sans: Arial, Helvetica, sans-serif;
$font-mono:  'Lucida Console', Courier, monospace;
$font-segoe: 'Segoe UI', Tahoma, Verdana, sans-serif;
$font-code: 'Courier New', Courier, monospace;
$font-geist: 'Geist Mono', Courier, monospace;
// Font Family Map
$font-families: (
  "mono": $font-mono,
  "sans": $font-sans,
  "serif": $font-serif,
  "segoe": $font-segoe,
  "code": $font-code,
  "geist": $font-geist,
);
// Function to get font-family by key
@function fonts($key) {
  @if map.has-key($font-families, $key) {
    @return map.get($font-families, $key);
  } @else {
    @error "Unknown key: #{$key}. Try one of: #{map.keys($font-families)}.";
  }
}
